@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 5%;
		/*#0c0c0c*/
		--foreground: 0 0 100%;
		/*#ffffff*/
		/*222.2 84% 4.9%;*/

		/**/
		--card: 0 0% 100%;

		/*#ffffff*/
		--card-foreground: 222.2 84% 4.9%;

		/*#010816*/

		/**/
		--popover: 0 0% 100%;

		/*#ffffff*/
		--popover-foreground: 222.2 84% 4.9%;

		/*#010816*/

		/**/
		--primary: 0 0% 54.1%;
		/*#8a8a8a
		222.2 47.4% 11.2%;
		#0f172a*/

		--primary-foreground: 210 40% 98%;

		/*#f7f9fb*/

		/**/
		--secondary: 0, 0%, 82.4%;
		/*#D2D2D2
		210 40% 96.1%;

		#f1f5f9*/
		--secondary-foreground: 222.2 47.4% 11.2%;

		/*#0f172a*/

		/**/
		--muted: 210 40% 96.1%;

		/*#f1f5f9*/
		--muted-foreground: 215.4 16.3% 46.9%;

		/*#64748b*/

		/**/
		--accent: 210 40% 96.1%;

		/*#f1f5f9*/
		--accent-foreground: 222.2 47.4% 11.2%;

		/*#0f172a*/

		/**/
		--destructive: 0 84.2% 60.2%;

		/*#ee4444*/
		--destructive-foreground: 210 40% 98%;

		/*#f7f9fb*/

		/**/
		--border: 214.3 31.8% 91.4%;

		/*#e2e8f0*/
		--input: 214.3 31.8% 91.4%;

		/*#e2e8f0*/
		/*214.3 31.8% 91.4%;*/

		/**/
		--ring: 222.2 84% 4.9%;

		/*#010816*/

		/**/
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
